<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here are some delicious food!</h1>
    @{
        var FoodList = new List<string>
        {
            "Apple Pie",
            "Burritoes",
            "Clam Chowder",
            "Donuts",
        };
        foreach(var food in FoodList)
        {
            <div>
                <p>@food</p>
            </div>
        }
    }
</body>
</html>